
<div class="jumbotron">
<div class="row">
    <div class="col-sm-6 col-xs-12 text-justify font2em">
TCS adibatla is the  new Hub of IT market. In future TCS Adibatla is going to see  28000 + employees stepping on it. As it is located at a  good distance from city ,Transportation plays an important role here  . Tata Consultancy Services   has a reputation not only for having more than 300000 employees but also for managing them in an excellent way.  In order to mantain that satisfaction .this application is developed . More than 50 buses are deployed for connection with  TCS Adibatla.
 Now You can get the all bus details i.e. landamrk, routes , time from anywhere at your fingers . Now going to adibatla and  coming from  adibatla office is not a matter of fear.
If you have used our service, you can send us your feedback. 
We take feedback very seriously and each mail is a source of learning. Feel free to send in your comments / suggestions either by mail or call us on numbers we have listed in the ‘contact us’ section.
If you want to join us, call us and let us know how you would like to add value. There is always place for talent and enthusiasm.
It has been a pleasure conversing with you. We look forward to many more journeys with each one of you.
 Adibatla office  is beautiful. Experience it by road.
</div>
<div class="col-sm-6 col-xs-12">
   
    <div style='overflow:hidden;height:auto;width:auto;'>
        <div id='gmap_canvas' #gmap_canvas style='height:auto;width:auto;'>
            </div>
       
             <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
             </div>
            
             
                
</div>
</div>
</div>
