
<div class="jumbotron text-center">
  <h1>Contact details</h1>
  <p>Adibatla Transportation</p>
</div>
  

  <div class="row">
    <div class="col-sm-4">
      <h3>Bharath Kumar</h3>
       <a href="#"><span class="glyphicon glyphicon-envelope">  bharath.ronanki@tcs.com</span></a>
      <p> <span class="glyphicon glyphicon-earphone"> cell:- 9912573002</span></p>
      <p>Transport Management</p>
      <p>Cab/Bus/Shuttle Transport </p>
    </div>
    <div class="col-sm-4">
      <h3>Transportation HelpDesk</h3>
      <a href="#"><span class="glyphicon glyphicon-envelope">  adibatla.transportaton@tcs.com</span></a>
    <p> <span class="glyphicon glyphicon-earphone">  cell:- 9246730329</span> </p>
      <p> <span class="glyphicon glyphicon-phone-alt">ext: 11113-11112 </span></p>
    </div>
    <div class="col-sm-4">
      <h3>Mitul Mishra</h3>
      <p>Adibatla Admin In charge</p>
      <a href="#"><span class="glyphicon glyphicon-envelope"> mitul.mishra@tcs.com</span></a>
      <p> <span class="glyphicon glyphicon-earphone"> cell:- 7799602211</span></p>

    </div>
  </div>


  <div class="jumbotron">
   <div class="row">
    <div class="col-sm-6" style="background-color:yellofghfdgw;">
  <h2>Need Help ? Write to us </h2>
  <p>Assistance at your finger tips</p>
   </div>

   <!-- <div class="col-sm-12" style="background-color:navy-blue;">

      <label for="mailid">Mail Id:</label><input type="email"  id="mailid" placeholder="Enter your Email">
      <label for="message">Message:<textarea rows="10" cols="50" id="message"></textarea></label>
      <input type="submit" class="btn-primary" value="Submit">
   </div> -->

</div>
</div>






<div class="center-block">
  <h2>Have  you read our FAQ yet ?
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> Read Here </button></h2>
  <div id="demo" class="collapse in">
   
</div>
  
</div>
<div class="jumbotron text-center">
<div class="row">
<div class="col-sm-6">
  <h4>Keep In touch</h4>
<a href="#"class="btn-facebook" >Facebook</a>
  Facebook
  google+
  twitter
</div>

<div class="col-sm-6"> 
<p>Tata Conusltancy Services</p>
Adibatla, Hyderabad, Telangana ,501510, India
</div>
</div>
</div>
