
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-user" ></span>Login</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-map-marker" ></span>Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><img src="../../logo.gif" alt="Bus logo" height="110px" width="200px"/>Adibatla Transportation</h3>
      </div>