<!--<div class="container" >
            <div class="title">
                Welcome
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="input-field col s12">
                        <input [(ngModel)]="user.email" id="email" 
                            type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
 
                <div class="row">
                    <div class="input-field col s12">
                        <input [(ngModel)]="user.password" id="password" 
                            type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
 
                <span>{{errorMsg}}</span>
                <button (click)="login()" class="btn waves-effect waves-light"   type="submit">Login</button>
            </div>
        </div>-->
        
      
      <div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text"  [(ngModel)]="user.email" id="email" class="form-control" name="username" placeholder="Email Address" required autofocus="" />
      <input type="password" [(ngModel)]="user.password" id="password"  class="form-control" name="password" placeholder="Password" required/>      
      
      <button class="btn btn-lg btn-primary btn-block" (click)="login($event)"  type="submit">Login</button>   
       <span>{{errorMsg}}</span>
    </form>
  </div>
    