
<!-- <div *ngFor="#source of buseslist" >
    <div (click)="details(source.source)">{{source.source | reversePipe}}</div>
    </div>-->
    
  <!--   <div class="row marketing col-lg-12">
     <div class="col-lg-6"> 
         
        <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Station</th>
            <th>Timings</th>
            <th>Route Numbers</th>
            
            <th>Landmark</th>
          </tr>
          <tr  *ngFor="#timingsarray of buseslist?.timings">
            <td >{{buseslist.place}}</td>
            <td>{{timingsarray?.time}}</td>
            <td><span *ngFor="#routes of timingsarray?.routes">{{routes}}<br/></span></td>
            
            <td>{{timingsarray?.landmark}}</td>
          </tr>
        </table>
        </div>
     </div>-->
      <div class="beforeloading">
   
   
   <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
     <img src="busroad.png" width="100%">
   </div>
  
   </div>
     <div class="row">
   <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 textleft">  
       <h3 [hidden]="destadi">Adibatla</h3>
       <h3 [hidden]="!destadi">{{sourceselected}}</h3>
     <h5 [hidden]="!destadi" *ngIf="sourceselected"><span>Landmark:</span>{{buseslist?.landmark}}<a href="#" title="Get directions" class="btn btn-info btn-sm" data-toggle="modal" data-target="#mapmodal" (click)="getmapdirections(buseslist?.landmark)"><span class="glyphicon glyphicon-screenshot"></span></a></h5>
     
   </div>
   
   
   <div class="col-lg-5 col-md-5 col-sm-5 col-xs-offset-2 col-offset-2 col-offset-2 col-offset-2 col-offset-2 textright" *ngIf="sourceselected">
       <h3 [hidden]="destloc">Adibatla</h3> 
     <h3 [hidden]="!destloc">{{sourceselected}}</h3>
     <h5 [hidden]="!destloc" *ngIf="sourceselected"><span>Landmark:</span>{{buseslist?.landmark}}<a href="#" title="Get directions" class="btn btn-info btn-sm" data-toggle="modal" data-target="#mapmodal" (click)="getmapdirections(buseslist?.landmark)"><span class="glyphicon glyphicon-screenshot"></span></a></h5>
  
     
   </div>
     </div>
     <div class="row">
     <div class="image col-lg-6 col-md-6  col-sm-6 " *ngFor="#timingsarray of buseslist?.timings">
         <img src="../../busimage.png" height="180px" width="200px" class="busimage">
         
        
         <h4 class="routes bluecolor"> <span class="">Buses:</span><span *ngFor="#routes of timingsarray?.routes;#i=index;#j=last;"> {{routes}}<span *ngIf="!j">,</span></span></h4>
       
         <h3 class="timings redcolor">{{timingsarray?.time}}</h3>
         
         
     </div>
     </div>
     </div>
          <!--     <div class="image col-lg-6 col-md-6  col-sm-6 ">
         <img src="../../busimage.png" height="180px" width="200px" class="busimage">
         
          <h4 class="routes bluecolor"> <span class="">Route No:</span> 1,2,3,Deccan Park Shuttle</h4>
       
         <h3 class="timings bluecolor">9:00 AM</h3>
         
         
     </div>-->
     
     <div id="mapmodal" class="modal fade" role="dialog"  >
         <div class="modal-dialog">
             <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Direction to {{sourceselected}},{{landmarkloc}} </h4>
                 </div>
                 <div class="modal-body">
                     <iframe width="500" height="450" frameborder="0" style="border:0"
   [src]="landmarklocurl" allowfullscreen>
                    </iframe>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
             </div>
         </div>
         
         
     </div>