
<!-- <div *ngFor="#source of buseslist" >
    <div (click)="details(source.source)">{{source.source | reversePipe}}</div>
    </div>-->
    
     <div class="row marketing col-lg-12">
      <!-- <div class="col-lg-6"> -->
         
        <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Station</th>
            <th>Timings</th>
            <th>Route Numbers</th>
            
            <th>Landmark</th>
          </tr>
          <tr  *ngFor="#timingsarray of buseslist?.timings">
            <td >{{buseslist.place}}</td>
            <td>{{timingsarray?.time}}</td>
            <td><span *ngFor="#routes of timingsarray?.routes">{{routes}}<br/></span></td>
            
            <td>{{timingsarray?.landmark}}</td>
          </tr>
        </table>
        </div>
     </div>
     
     <div class="image col-lg-3 col-md-4  col-sm-4 col-xs-6">
         <img src="../../bussymbol.jpg" height="180px" width="200px" class="busimage">
         
         <h2 class="sourcetext">Routes</h2>
         <h4 class="routes">1,2,3,Deccan Park Shuttle</h4>
         <h1 class="timings">9:00 AM</h1>
         
         
     </div>
             <div class="image col-lg-3 col-md-4  col-sm-4 col-xs-6">
         <img src="../../bussymbol.jpg" height="180px" width="200px" class="busimage">
         
         <h2 class="sourcetext">Routes</h2>
         <h4 class="routes">1,2,3,Deccan Park Shuttle</h4>
         <h1 class="timings">9:00 AM</h1>
         
         
     </div>
             <div class="image col-lg-3 col-md-4  col-sm-4 col-xs-6">
         <img src="../../bussymbol.jpg" height="180px" width="200px" class="busimage">
         
         <h2 class="sourcetext">Routes</h2>
         <h4 class="routes">1,2,3,Deccan Park Shuttle</h4>
         <h1 class="timings">9:00 AM</h1>
         
         
     </div>
             <div class="image col-lg-3 col-md-4  col-sm-4 col-xs-6">
         <img src="../../bussymbol.jpg" height="180px" width="200px" class="busimage">
         
         <h2 class="sourcetext">Routes</h2>
         <h4 class="routes">1,2,3,Deccan Park Shuttle</h4>
         <h1 class="timings">9:00 AM</h1>
         
         
     </div>
     
      <div class="image col-lg-3 col-md-4  col-sm-4 col-xs-6">
         <img src="../../bussymbol.jpg" height="180px" width="200px" class="busimage">
         
         <h2 class="sourcetext">Routes</h2>
         <h4 class="routes">1,2,3,Deccan Park Shuttle</h4>
         <h1 class="timings">9:00 AM</h1>
         
         
     </div>
     
      <div class="image col-lg-3 col-md-4  col-sm-4 col-xs-6">
         <img src="../../bussymbol.jpg" height="180px" width="200px" class="busimage">
         
         <h2 class="sourcetext">Routes</h2>
         <h4 class="routes">1,2,3,Deccan Park Shuttle</h4>
         <h1 class="timings">9:00 AM</h1>
         
         
     </div>
     
      <div class="image col-lg-3 col-md-4  col-sm-4 col-xs-6">
         <img src="../../bussymbol.jpg" height="180px" width="200px" class="busimage">
         
         <h2 class="sourcetext">Routes</h2>
         <h4 class="routes">1,2,3,Deccan Park Shuttle</h4>
         <h1 class="timings">9:00 AM</h1>
         
         
     </div>
     